body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --bg-color: #f7ede2;
  --bg2-color: rgb(251, 217, 180) 2;
  --primary-color: #d4af37;
  --secondary-color: #013737;
  --dark-teal: #011a1a;

  --container-width-lg: 76%;
  --container-width-md: 90%;

  --transition: all 500ms ease;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: var(--container-width-lg);
  margin-inline: auto;
  max-width: 1920px;
}
section {
  background: var(--bg-color);
  padding: 10rem 0;
  transition: var(--transition);
}
section:nth-child(even) {
  background: var(--bg2-color);
}
section > h2 {
  text-align: center;
}
section > p {
  text-align: center;
  margin: 0.5rem auto 4rem;
  width: 40%;
}
a {
  transition: var(--transition);
  color: var(--dark-teal);
}
a:hover {
  color: var(--primary-color);
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1rem;
  color: var(--dark-teal);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 0.95rem;
}
h6 {
  font-size: 0.8rem;
}
